{% extends "boardskin/boardskinbase.html" %}
{% load crispy_forms_tags %}
{% load antidoping_extras %}
{% block muestra %}active{% endblock %}



{% block style %}

<link href="{{ STATIC_URL }}CSS/tag-it.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery-ui-1.10.1.custom.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery.tagsinput.css" rel="stylesheet" type="text/css">
<style type="text/css">
#icons{
  float:right;
}
</style>

{% endblock %}

{% block script %}

<script src="{{ STATIC_URL }}JS/jquery.tagsinput.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/highcharts.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/boostrap-tab.js"></script>

{% endblock %}

{% block content %}

<div class="section-header">
    <h1>Antidopings</h1> 
</div>

<div class="container-fluid ">
    <div class="row-fluid">
        <a href="/seleccion_muestra">
          <input type="button" class="btn btn-flat btn-blue no-radius" value="Nuevo"></button>
      </a>
  </div>
</div>

<div class="container-fluid ">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
              <table class="table table-striped table-bordered">
                <tr>
                    <th>Nombre del Antidoping</th>
                    <th>Fecha de creación</th>
                    <th>Estado</th>
                </tr>
                {% for antidoping in antidopings %}
                <tr>
                    <td>
                      <a href="/perfil_muestra/{{antidoping.id}}">{{antidoping.nombre}}</a>
                      <div id="icons"><a href="/eliminar_muestra/{{antidoping.id}}"><i class="icon-trash"></i></a></div>
                  </td>
                  <td>{{antidoping.antidoping_inicio}}</td>
                  <td>{{antidoping.estado_antidoping|estado}}</td>
              </tr>
              {% endfor %}
          </table>
      </div>
  </div>
</div>
</div>


<br />




{% endblock %}