{% extends "boardskin/boardskinbase.html" %}
{% load crispy_forms_tags %}
{% load antidoping_extras %}
{% block muestra %}active{% endblock %}



{% block style %}

<link href="{{ STATIC_URL }}CSS/tag-it.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery-ui-1.10.1.custom.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}CSS/jquery.tagsinput.css" rel="stylesheet" type="text/css">
<style type="text/css">
#icons{
  float:right;
}
</style>

{% endblock %}

{% block script %}

<script src="{{ STATIC_URL }}JS/jquery.tagsinput.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}JS/highcharts.js"></script>
<script type="text/javascript" language="zavascript" src="{{ STATIC_URL }}JS/boostrap-tab.js"></script>

{% endblock %}

{% block content %}

<div class="section-header">
    <h1>404</h1> 
</div>

<br />
<div class="container-fluid ">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
<div class="container">
   <div class="header aligncenter">
      <h2>El url que has escrito no existe!</h2>
  </div>
</div>
</div>
</div>
</div>
</div>

<br />




{% endblock %}