<!DOCTYPE html>
  <html lang="en">
	<head>
	<meta charset="utf-8">
	<title>SAT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<link href="{{ STATIC_URL }}boardskin/css/bootstrap.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}boardskin/css/styler.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}boardskin/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="{{ STATIC_URL }}boardskin/css/font-awesome.min.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
	

	<!-- css block -->
	{% block style %}{% endblock %}

	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Fav and touch icons -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
	<link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>
  <body cz-shortcut-listen="true">

	<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
	  
		<div id="branding" class="span2">
			<a href="#">
				<!-- <i class="icon-tasks"></i> -->
				<h1 style='color:white;'>SAT</h1>
				<!-- <img src="img/logo.png"> -->
			</a>
		</div>
		<div class="pull-right user">
			<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
				<img src="{{ STATIC_URL }}boardskin/img/styler/user-thumb.jpg"> 
				<p><span>{{user.username}}</span></p> 

				<b class="caret"></b>

				<ul class="dropdown-menu" role="menu">
	                <!-- <li><a tabindex="-1" href="#">View Profile</a></li> -->
	                <!-- <li><a tabindex="-1" href="#">Manage Account</a></li> -->
	                <!-- <li><a tabindex="-1" href="#">Inbox</a></li> -->
	                <li><a tabindex="-1" href="/logout/">Salir</a></li>
	                <!-- <li class="divider"></li> -->
	                <!-- <li><a tabindex="-1" href="#">Invite a Friend</a></li> -->
	                <!-- <li><a tabindex="-1" href="#">Create a Team</a></li> -->
	            </ul>
			</a>
		</div>
		<form class="searchform pull-right" action="/estudiante/" method="POST">{% csrf_token %}
            <div class="input-icon-append">
            	<input class="input-large" maxlength="23" placeholder="Escribe lo que deseas buscar.." type="text" name="q1">
                <button type="submit" rel="tooltip-bottom" class="icon" data-original-title="search">
                	<i class="icon-search"></i>
                </button>
            </div>
        </form>
		
  </div>
</div>
	<div class="content clearfix">
	  	<div class="section menu">
	<ul class="navigation">
		<li  class="{% block antidoping %}{% endblock %}">
		  <a href="/">
			<i class="icon-dashboard"></i>
			<span>Antidoping</span>
		  </a>
		</li>
		
		<!-- Reportes -->
		<li class="{% block reportes %}{% endblock %}">
		  <a href="/reportes/">
			<i class="icon-bar-chart"></i>
			<span>Reportes</span>
		  </a>
		</li>

		<!-- Importar -->
		<li class="{% block importar %}{% endblock %}">
		  <a href="/subir_csv/">
			<i class="icon-upload-alt"></i>
			<span>Importar</span>
		  </a>
		</li>
		<li>
		  <a href="/logout/">
			<i class="icon-eject"></i>
			<span>Salir</span>
		  </a>
		</li>
	</ul>
	
</div>		<div class="section sidebar">
			{% block sidebar %}{% endblock %}

	<!-- <div class="widget">
		<div class="widget-title">
			<h3>Latest News</h3>
		</div>
		<ul class="listing clearfix">
			<li class="clearfix">
				<h4 class="title"><a href="#">Samsung's $15 million Super Bowl commercial arrives early</a></h4>
				<p>Etsy flexitarian reprehenderit incididunt sint, typewriter photo booth deep v wes anderson</p>
			</li>
			<li class="clearfix">
				<h4 class="title"><a href="#">The Super Bowl will be beamed to astronauts on board the ISS</a></h4>
				<p>Etsy flexitarian reprehenderit incididunt sint, typewriter photo booth deep v wes anderson</p>
			</li>
			<li class="clearfix">
				<h4 class="title"><a href="#">Turn your Vines into animated GIFs using VineGifR</a></h4>
				<p>Etsy flexitarian reprehenderit incididunt sint, typewriter photo booth deep v wes anderson</p>
			</li>
		</ul>
	</div> -->
</div>		<div class="section main">
			<!-- <div class="section-header">
				<h1>Dashboard</h1>
			</div> -->
			<!-- <div class="shortcut-group section-content">
				<div class="header aligncenter">
					<h2>Shortcuts</h2>
				</div>
				<ul class="quick-menu clearfix">
					<li class="blue">
						<a href="#">
							<i class="icon-tasks"></i>
							<span>Tasks</span>
						</a>
					</li>
					<li class="red">
						<a href="#">
							<i class="icon-group"></i>
							<span>Groups</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-bar-chart"></i>
							<span>Graphs</span>
						</a>
					</li>
					<li class="green">
						<a href="#">
							<i class="icon-sitemap"></i>
							<span>Sitemap</span>
						</a>
					</li>
					<li class="yellow">
						<a href="#">
							<i class="icon-shopping-cart"></i>
							<span>Shopping</span>
						</a>
					</li>
				</ul>
			</div> -->
			<!-- <div class="statistics section-content">
				<div class="header aligncenter">
					<h2>Statistics</h2>
					<p>Tonx mlkshk placeat, forage actually twee cillum banjo duis consequat elit wes anderson ex. Swag nisi pop-up before they sold out selfies, 8-bit letterpress cillum bespoke authentic butcher retro.</p>
				</div>
				<div class="container-fluid gap-bottom">
					<div class="row-fluid aligncenter">
						<div class="span3 small-chart charts">
							<span class="inlinebar green">5,6,7,9,9,5,3,2,2,4,6,7</span>
							<h1>-$1,458</h1>
							<h4>Startup Cash</h4>
						</div>
						<div class="span3 small-chart charts">
							<span class="inlinestackbar blue">5,6,7,9,9,5,3,2,2,4,6,7</span>
							<h1>+951</h1>
							<h4>Geeks vs Nerds</h4>
						</div>
						<div class="span3 small-chart charts">
							<span class="inlinepie red">5,6,7,9,9,5,3,2,2,4,6,7</span>
							<h1>+24</h1>
							<h4>Code Type</h4>
						</div>

						<div class="span3 small-chart charts">
							<span class="inlineline green">1,3,4,5,3,5</span>
							<h1>+3,550</h1>
							<h4>Click Rate</h4>
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="widget">
								<div class="row-fluid">
									<div class="span12">
										<div id="flot-example-1" class="graph-area charts"></div>
									</div>
								</div>
							</div>
						</div>
				    </div>
				</div>
				<div class="container-fluid  gap-bottom">
					<div class="row-fluid">
						<div class="statistic-list-icon span4 widget">
							<div class="widget-title">
								<h3>Icon Statistics</h3>
							</div>
				        	<ul class="listing">
					            <li>
					              <label class="label-warning"><i class="icon-fire icon-white"></i></label>
					              <h4>375</h4>
					              <p class="sub">Videos</p>
					            </li>
					            <li>
					              <label class="label-important"><i class="icon-heart icon-white"></i></label>
					              <h4>103</h4>
					              <p class="sub">Comments</p>
					            </li>
					            <li>
					              <label class="label-success"><i class="icon-leaf icon-white"></i></label>
					              <h4>92</h4>
					              <p class="sub">Photos</p>
					            </li>
					            <li>
					              <label class="label-info"><i class="icon-tint icon-white"></i></label>
					              <h4>865</h4>
					              <p class="sub">Events</p>
					            </li>
					            <li>
					              <label class="label-inverse"><i class="icon-road icon-white"></i></label>
					              <h4>65</h4>
					              <p class="sub">Blogs</p>
					            </li>
					          </ul>
					    </div>
					    <div class="statistic-list-chart span4 widget">
					    	<div class="widget-title">
								<h3>Inline Bar Statistics</h3>
							</div>
					    	<ul class="listing">
					    		<li>
					    			<span class="inlinebar">1,3,4,5,3,5,2</span>
					    			<h4>65</h4>
					            	<p class="sub">Signups</p>
					    		</li>
					    		<li>
					    			<span class="inlinebar">1,4,4,7,5,9,10</span>
					    			<h4>34</h4>
					    			<p class="sub">Comments</p>
					    		</li>
					    		<li>
					    			<span class="inlinebar">1,3,4,5,3,5,2</span>
					    			<h4>99</h4>
					            	<p class="sub">Photos</p>
					    		</li>
					    		<li>
					    			<span class="inlinebar">1,3,4,5,3,5,2</span>
					    			<h4>60</h4>
					            	<p class="sub">Videos</p>
					    		</li>
					    		<li>
					    			<span class="inlinebar">1,3,4,5,3,5,2</span>
					    			<h4>40</h4>
					            	<p class="sub">Events</p>
					    		</li>
					    	</ul>
					    </div>
					    <div class="statistic-list-chart span4 widget">
					    	<div class="widget-title">
								<h3>Inline Line Statistics</h3>
							</div>
					    	<ul class="listing">
					    		<li>
					    			<span class="inlineline">1,3,4,5,3,5,2</span>
					    			<h4>65</h4>
					            	<p class="sub">Signups</p>
					    		</li>
					    		<li>
					    			<span class="inlineline">1,4,4,7,5,9,10</span>
					    			<h4>34</h4>
					    			<p class="sub">Comments</p>
					    		</li>
					    		<li>
					    			<span class="inlineline">1,3,4,5,3,5,2</span>
					    			<h4>99</h4>
					            	<p class="sub">Photos</p>
					    		</li>
					    		<li>
					    			<span class="inlineline">1,3,4,5,3,5,2</span>
					    			<h4>60</h4>
					            	<p class="sub">Videos</p>
					    		</li>
					    		<li>
					    			<span class="inlineline">1,3,4,5,3,5,2</span>
					    			<h4>40</h4>
					            	<p class="sub">Events</p>
					    		</li>
					    	</ul>
					    </div>
				    </div>
				</div>
				<div class="container-fluid">
					<div class="row-fluid">
				    	<div class="span4 widget">
							<table class="table sortable">
				              <thead>
				                <tr>
				                  <th class="header">Browser</th>
				                  <th class="header">Visitors</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td>Firefox</td>
				                  <td>9580</td>
				                </tr>
				                <tr>
				                  <td>Chrome</td>
				                  <td>7668</td>
				                </tr>
				                <tr>
				                  <td>Safari</td>
				                  <td>3021</td>
				                </tr>
				                <tr>
				                  <td>Internet Explorer</td>
				                  <td>1011</td>
				                </tr>
				                <tr>
				                  <td>Opera</td>
				                  <td>922</td>
				                </tr>
				              </tbody>
				            </table>
				        </div>
				        <div class="span4 widget">
							<table class="table table-bordered sortable">
				              <thead>
				                <tr>
				                  <th class="header">Applications</th>
				                  <th class="header">Count</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td>Events</td>
				                  <td>950</td>
				                </tr>
				                <tr>
				                  <td>Photos</td>
				                  <td>256</td>
				                </tr>
				                <tr>
				                  <td>Videos</td>
				                  <td>3021</td>
				                </tr>
				                <tr>
				                  <td>Stream</td>
				                  <td>2011</td>
				                </tr>
				                <tr>
				                  <td>Blogs</td>
				                  <td>89</td>
				                </tr>
				              </tbody>
				            </table>
				        </div>
				        <div class="span4 widget">
							<table class="table table-bordered table-striped sortable">
				              <thead>
				                <tr>
				                  <th class="header">URL</th>
				                  <th class="header">Visits</th>
				                </tr>
				              </thead>
				              <tbody>
				                <tr>
				                  <td> <a href="">google.com</a></td>
				                  <td>17665</td>
				                </tr>
				                <tr>
				                  <td><a href="">bing.com</a></td>
				                  <td>24588</td>
				                </tr>
				                <tr>
				                  <td><a href="">logobro.com</a></td>
				                  <td>13022</td>
				                </tr>
				                <tr>
				                  <td><a href="">yahoo.com</a></td>
				                  <td>8922</td>
				                </tr>
				                <tr>
				                  <td><a href="">duckduckgo.com</a></td>
				                  <td>11014</td>
				                </tr>
				              </tbody>
				            </table>
				        </div>
				    </div>
				</div>
			</div> -->
			<!-- <div class="section-content">
				<div class="container-fluid">
					<div class="row-fluid">
						<div class="span6">
							<div class="widget bordered">
								<div class="widget-title">
									<h3>Latest Comments</h3>
								</div>
								<ul class="listing clearfix">
									<li>
										<div class="row-fluid">
											<a href="#" class="thumbnail span2"><img src="http://placehold.it/120x120"></a>
											<div class="span10">
												<h4 class="title"><a href="#">Samsung's $15 million Super Bowl commercial arrives early</a></h4>
												<p>Tonx mlkshk placeat, forage actually twee cillum banjo duis consequat elit wes anderson ex. Swag nisi pop-up before they sold out selfies, 8-bit letterpress cillum bespoke authentic butcher retro.</p>
											</div>
										</div>
									</li>
									<li>
										<div class="row-fluid">
											<a href="#" class="thumbnail span2"><img src="http://placehold.it/120x120"></a>
											<div class="span10">
												<h4 class="title"><a href="#">BlackBerry Z10 review: a new life, or life support?</a></h4>
												<p>Tonx mlkshk placeat, forage actually twee cillum banjo duis consequat elit wes anderson ex. Swag nisi pop-up before they sold out selfies, 8-bit letterpress cillum bespoke authentic butcher retro.</p>
											</div>
										</div>
									</li>
									<li>
										<div class="row-fluid">
											<a href="#" class="thumbnail span2"><img src="http://placehold.it/120x120"></a>
											<div class="span10">
												<h4 class="title"><a href="#">Learn why art matters with The Metropolitan Museum of Art's new web series</a></h4>
												<p>Tonx mlkshk placeat, forage actually twee cillum banjo duis consequat elit wes anderson ex. Swag nisi pop-up before they sold out selfies, 8-bit letterpress cillum bespoke authentic butcher retro.</p>
											</div>
										</div>
									</li>
								</uL>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		<!-- </div> -->
		{% block content %}{% endblock %} 
	</div>

	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}boardskin/js/jquery.ui.min.js"></script>
	<script src='{{ STATIC_URL }}boardskin/js/calendar/_loader.js'></script>
<!-- 	// <script src="{{ STATIC_URL }}boardskin/js/charts/jquery.flot.min.js"></script>
	// <script src="{{ STATIC_URL }}boardskin/js/charts/jquery.flot.pie.min.js"></script> -->
	<script src="{{ STATIC_URL }}boardskin/js/charts/jquery.sparkline.min.js"></script>
	<script src="{{ STATIC_URL }}boardskin/js/jquery.dataTables.min.js"></script>


	<!-- javascript block -->
	{% block script %}{% endblock %}
	
	<script type='text/javascript'>
		$(document).ready(function() {
		
			var date = new Date();
			var d = date.getDate();
			var m = date.getMonth();
			var y = date.getFullYear();
			$('.calendar-default').fullCalendar({
				editable: true,
				events: [
					{
						title: 'All Day Event',
						start: new Date(y, m, 1)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				]
			});
			$('.calendar-agenda').fullCalendar({
				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				editable: true,
				events: [
					{
						title: 'All Day Event',
						start: new Date(y, m, 1)
					},
					{
						title: 'Long Event',
						start: new Date(y, m, d-5),
						end: new Date(y, m, d-2)
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d-3, 16, 0),
						allDay: false
					},
					{
						id: 999,
						title: 'Repeating Event',
						start: new Date(y, m, d+4, 16, 0),
						allDay: false
					},
					{
						title: 'Meeting',
						start: new Date(y, m, d, 10, 30),
						allDay: false
					},
					{
						title: 'Lunch',
						start: new Date(y, m, d, 12, 0),
						end: new Date(y, m, d, 14, 0),
						allDay: false
					},
					{
						title: 'Birthday Party',
						start: new Date(y, m, d+1, 19, 0),
						end: new Date(y, m, d+1, 22, 30),
						allDay: false
					},
					{
						title: 'Click for Google',
						start: new Date(y, m, 28),
						end: new Date(y, m, 29),
						url: 'http://google.com/'
					}
				]
			});
			
		});
	</script>
	<script src="{{ STATIC_URL }}boardskin/js/bootstrap.js"></script>
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script>
	<script src="{{ STATIC_URL }}boardskin/js/custom.js"></script><![endif]-->
	

  </body>
</html>